@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access denied</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="w-100 vh-100 d-flex flex-column align-items-center justify-content-center">
            <div class="access-denied-block">
                <div class="w-100 h-100 d-flex justify-content-between">
                    <div class="access-denied-strip"></div>
                    <div class="access-denied-strip"></div>
                    <div class="access-denied-strip"></div>
                    <div class="access-denied-strip"></div>
                    <div class="access-denied-strip"></div>
                    <div class="access-denied-strip"></div>
                    <div class="access-denied-strip"></div>
                    <div class="access-denied-strip"></div>
                    <div class="access-denied-strip"></div>

                    <div class="access-denied-strip"></div><div class="access-denied-strip"></div>
                </div>
                <div class="denied-message-block">
                    <div class="bg-light w-100 h-65"></div><div class="triangle-container">
                        <div class="left-part bg-light"></div>
                        <div class="right-part bg-light">
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="denied-message-container">
                        <h2 class="text-center">ACCESS DENIED</h2>
                        <div class="dinied-underline"></div>
                        <br>
                        <p class="text-center lead">You don't have a permission<br> to access this page</p>
                        <img href="">
                        <div class="lock">
                            <div class="top-lock"></div>
                            <div class="bottom-lock bg-light"></div>
                        </div>

                    </div>
                </div>
            </div>
            <h1 class="text-center d-none">Ану пшол НАХОЙ звідси!!!!<br>Не має сука доступу!!</h1>
        </div>
    </div>
</body>
</html>
