@model LoginViewModel


<div class="authentication-form-block">
    <div class="authentication-form">
        <div class="p-3 d-flex flex-column">
            <h2 class="text-center">Log in</h2>

            <form method="post" asp-controller="Account" asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <div class="form-group">
                        <label asp-for="Email"></label><br />
                        <input type="email" asp-for="Email" class="w-100"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label><br />
                        <input type="password" asp-for="Password"  class="w-100"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="RememberMe" />
                        <label asp-for="RememberMe"></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Log in" class="center-block btn-primary btn-lg" />
                    </div>
                </div>
            </form>

            <a asp-controller="" asp-action="" class="text-center">Forgot passqord?</a>
            <div class="divider"></div>
            <hr class="w-100"/>
            <span class="center-block">New to our site? <a asp-controller="Account" asp-action="Register">Sign up</a></span>
        </div>
    </div>
</div>